.app {
  text-align: center;
}

.app-header {
  background-color: #282c34;
  padding: 25px 0 25px 15px;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.movie-item {
  margin: 10px;
  /*height: 550px;*/
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .movie-item {
    width: calc(100vw - 114px);
    margin-right: 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .movie-item {
    width: calc((100vw / 2) - 74px);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .movie-item {
    width: calc((100vw / 4) - 47px);
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .movie-image {
    height: 100px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .movie-item {
    width: calc((100vw / 5) - 42px);
  }
}
